<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>Tiles Dispatch</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContentViewServlet</display-name>
		<servlet-name>ContentViewServlet</servlet-name>
		<servlet-class>controller.ContentViewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContentEditServlet</display-name>
		<servlet-name>ContentEditServlet</servlet-name>
		<servlet-class>controller.ContentEditServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Tiles Dispatch</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentViewServlet</servlet-name>
		<url-pattern>/ContentViewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentEditServlet</servlet-name>
		<url-pattern>/ContentEditServlet</url-pattern>
	</servlet-mapping>
</web-app>
